# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

    # Clang-format for C++
    # This brings in a portable version of clang-format.
    # See also: https://github.com/ssciwr/clang-format-wheel
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.8
    hooks:
      - id: clang-format
        types_or: [c++, c]

    # CMake linting and formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.10
    hooks:
      - id: cmake-format

    # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: ["--select", "I", "--fix"]

      - id: ruff-format
        types_or: [python, pyi]

  # Python "static" typing
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.15.0"
    hooks:
      - id: mypy
        language: system
        types_or: [python, pyi]
        args: [--strict, --config-file, editor/server/pyproject.toml]
        pass_filenames: false
        entry: bash -c 'cd editor/server && mypy . --strict'
